body {
  background-color: #dfdbe5;
}
h1, p {
  text-align: center;
}
h1 {
  margin: 0;
}
p {
  margin-top: 0;
}
.container {
  margin: 10px auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 500px;
  margin: auto;
  border: 5px solid slateblue;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.col-6 {
  flex: 0 0 auto;
  width: 125px;
  height: 125px;
  cursor: pointer;
  transition: transform 0.2s;
}
.col-6:hover {
  transform: scale(1.1);
}
.col-12 {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border: solid slateblue;
  border-width: 1px 0px;
}
.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}
